.user-new-visit
  = render "layouts/nav/home"

  %header
    %p.lead Travel

  = render "visit_form"
  = link_to "Delete", visit_path(@visit), method: "DELETE", class: 'btn btn-danger btn-block btn-lg'
