%div.group
  %a.btn.btn-link.btn-sm.left(href="#{edit_user_url(current_user)}")
    %i.fa.fa-arrow-circle-left
    Back
  %a.btn.btn-link.btn-sm.right(href="#{signout_url}")
    Sign Out
    %i.fa.fa-sign-out
