.sign-in
  %section.instructions
    %h1.lead.text-center How Home Sharing Works
    %table.bump
      %tr
        %td
          %span.big-number 1
        %td Fill out a quick user profile using your Facebook or Google login.
      %tr
        %td
          %span.big-number 2
        %td Create a travel request or hosting offer.

      %tr
        %td
          %span.big-number 3
        %td Travelers send their contact info and trip details to nearby hosts.
      %tr
        %td
          %span.big-number 4
        %td Hosts confirm by phone or email.
  %hr.bump

  %section.sign-up.bump
    %h2.lead.text-center Sign In Using...
    .row
      .col-xs-12.col-sm-6
        = link_to "Facebook", "/auth/facebook", {class: 'btn btn-facebook btn-block btn-lg'}
      .col-xs-12.col-sm-6
        = link_to "Google", "/auth/google_oauth2", {class: 'btn btn-google btn-block btn-lg'}
