.user-new-hosting
  = render "layouts/nav/home"
  
  %header
    %p.lead Host

  = render 'hosting_form'
  = link_to "I Can't Host", hosting_path(@hosting), method: :delete, class: 'btn btn-danger btn-block btn-lg'
