$primary_color_1: #ff5b66;
$primary_color_2: rgb(0, 40, 85);
$primary_color_3: rgb(255, 255, 255);

$accent_color_1: rgb(240, 232, 123);
$accent_color_2: rgb(0, 196, 255);

$background_color_light: rgb(205, 210, 203);
$background_color_dark: #002855;
$background_color_red: #ff5b66;

$lighter-gray: #EFF3F7;
$light-gray: #CCC;
$darker-gray: #147FD7;

$facebook_blue: #0055b8;
$google_red: #dd4b39;
$twitter_blue: #53aaff;

$font_heading: "Work Sans";
$font_body: "montserratregular";

$font_size_small: 0.8rem;
$font_size_xs: 0.6rem;
