$primary_color_1: rgb(241, 97, 92);
$primary_color_2: rgb(33, 52, 68);
$primary_color_3: rgb(246, 236, 202);

$accent_color_1: rgb(240, 232, 123);
$accent_color_2: rgb(0, 176, 165);

$background_color_light: rgb(205, 210, 203);
$background_color_dark: rgb(33, 52, 68);

$lighter-gray: #EFF3F7;
$light-gray: #CCC;
$darker-gray: #147FD7;

$facebook_blue: #0055b8;
$google_red: #dd4b39;
$twitter_blue: #53aaff;

$font_heading: "bebasregular";
$font_body: "montserratregular";

$font_size_small: 0.8rem;
