/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require_self
 *= require jquery-ui/datepicker
 *= require jquery-ui/accordion
 */

@import "lib/**/*";
@import "pages/**/*";
@import "./*";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic);
@import "font-awesome-sprockets";
@import "font-awesome";
@import "variables";

html {
  position: relative;
}

html, body {
  font-size: 16px;
  background-color: $primary_color_3;
  font-family: $font_body;
  min-height: 100%;
}

h1, h2, h3 {
  color: $primary_color_1;
  font-family: $font_heading;
}

h4, h5, h6, span, table, tr, td, button, a {
  color: $primary_color_2;
}

p, span, blockquote {
  font-family: "Lato";
}

body {
  padding: 0px;
  margin: 0px;
  padding-bottom: 90px;
}

ul {
  list-style: none;
  padding: 0;
}

main {
  padding-top: 15px;
   @media screen and (max-width: 680px) {
     padding-left: 8px;
     padding-right: 8px;
     padding-bottom: 55px;
  }
}

small, .help-block {
  font-size: 16px;
}

.page {
  max-width: 680px;
}

.header {
  padding: 5px 0;
  text-align: center;
  border-bottom: 1px solid $light-gray;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  small { font-size: 12px; }
  .btn { margin-right: 3px; }
}

.btn-info,
.btn-info:hover, .btn-info:active, .btn-info:focus,
.btn-info:active:hover,
.btn-info.active:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.btn-info:active.focus,
.btn-info.active.focus {
  background-color: $lighter-gray;
  color: $darker-gray;
  border: none;
}

span.big-number {
  padding: 5px;
  background-color: $primary_color_1;
  color: $primary_color_3;
  padding: 10px 16px;
  border-radius: 50%;
}

section.instructions {
  clear: right;
  table { margin-top: 30px; }
  table td { padding: 5px 5px 20px; }
}

.lead {
  font-size: 24px;
  margin-bottom: 12px;
}

.form-group {
  margin-bottom: 31px;
}

.form-group.has-error .text-muted { color: #777; }

label {
  font-weight: normal;
}

ul.profile-results {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  > li {
    padding: 10px 0;
    border-bottom: 1px solid $light-gray;
    > p { margin: 0; }
    div.contact-form {
      margin-top: 10px;
      padding: 10px 0;
      border-top: 1px solid $light-gray;
      ul {
        margin: 9px 0;
      }
    }
  }
  > li:first-child { border-top: 1px solid $light-gray; }
}

.bump {
  margin-top: 30px;
}

.half-bump {
  margin-top: 15px;
}

hr {
  border: 0;
  border-bottom: 1px solid $light-gray;
}

.right {
  float: right;
}

.left {
  float: left;
}

.hide {
  display: none;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}


.img-logo {
  width: 500px;
}
