%footer
  .container-fluid
    .row
      .col-sm-3
        .list-inline.quicklinks
          %a(href="#{page_path('faq')}") FAQ
      .col-sm-3
        .list-inline.quicklinks
          %a(href="mailto:admin@peopleshousing.com") Feedback
      .col-sm-3
        .list-inline.quicklinks
          %a(href="#{privacy_policy_path}") Privacy
      .col-sm-3
        .list-inline.quicklinks
          %a(href="#{page_path('terms_of_service')}") Terms
    .row.disclaimer
      .col-xs-12
        People's Housing is an open source project created to help connect people with passion. It is not affiliated with any official march or event organization.
        Visit the project on
        %a(href="https://github.com/samuelcole/MarchBNB" target="_blank")
          Github
          %i.fa.fa-github
