%footer
  .container-fluid
    .row
      .col-sm-4
        .list-inline.quicklinks
          %a(href="#{page_path('faq')}") FAQ
      .col-sm-4
        .list-inline.quicklinks
          %a(href="http://goo.gl/forms/PHeNrIVtaRMGdTU22") Feedback
      .col-sm-4
        .list-inline.quicklinks
          %a(href="#{privacy_policy_path}") Privacy
    .row.disclaimer
      .col-xs-12
        MarchBNB is an open source project created to help connect people with passion. It is not affiliated with the official Women's March on Washington.
        Visit the project on
        %a(href="https://github.com/samuelcole/MarchBNB" target="_blank")
          Github
          %i.fa.fa-github
