%footer
  .container-fluid
    .row
      .col-sm-4
        .list-inline.quicklinks
          %a(href="#{page_path('faq')}") FAQ
      .col-sm-4
        .list-inline.quicklinks
          %a(href="http://goo.gl/forms/PHeNrIVtaRMGdTU22") Feedback
      .col-sm-4
        .list-inline.quicklinks
          %a(href="#{privacy_policy_path}") Privacy
